REMOTE-SERVER/flows/flow-processing.json
[
    {
        "id": "96479688.095058",
        "type": "tab",
        "label": "MQTT subscriber",
        "disabled": false,
        "info": ""
    },
    {
        "id": "436ca787.f08538",
        "type": "tab",
        "label": "Basic statistics (to fill)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8d4c2557.9ea5a",
        "type": "tab",
        "label": "Visualization (to fill)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4cc42c8.1780c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3615ea2a.064816",
        "type": "debug",
        "z": "96479688.095058",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "d725feac.21084",
        "type": "mqtt in",
        "z": "96479688.095058",
        "name": "",
        "topic": "sensehat/sensors",
        "qos": "2",
        "datatype": "auto",
        "broker": "b4cc42c8.1780c",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "3615ea2a.064816",
                "5a359749.893c58"
            ]
        ]
    },
    {
        "id": "5a359749.893c58",
        "type": "interval-length",
        "z": "96479688.095058",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "payload",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "f848d8a9.c462e8"
            ],
            []
        ]
    },
    {
        "id": "f848d8a9.c462e8",
        "type": "debug",
        "z": "96479688.095058",
        "name": "Last INTERVAL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "b73a6fa.4238e9",
        "type": "comment",
        "z": "436ca787.f08538",
        "name": "Add here the part of the BASIC STATISTICS tab regarding mean and standard deviation",
        "info": "",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "219ace88.89d0fa",
        "type": "comment",
        "z": "8d4c2557.9ea5a",
        "name": "Place here the visualization flow for the basic statistics",
        "info": "",
        "x": 460,
        "y": 120,
        "wires": []
    }
]