flows/flow-simple.json
[
    {
        "id": "c55415b2.5496e8",
        "type": "tab",
        "label": "Sense hat",
        "disabled": false,
        "info": ""
    },
    {
        "id": "71f9ae86.d13f7",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8c6778ff.6dc668",
        "type": "tab",
        "label": "global context",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88c78cd7.1e2bb",
        "type": "ui_tab",
        "z": "",
        "name": "Device Stats",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fee98c91.8a287",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1071f503.257ceb",
        "type": "ui_tab",
        "z": "",
        "name": "Sense Hat",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fde4866f.851ff8",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "1071f503.257ceb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9a4e895b.be7378",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "1071f503.257ceb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9492d025.a8517",
        "type": "ui_group",
        "z": "",
        "name": "Pressure",
        "tab": "1071f503.257ceb",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fe2d9fce.9915c",
        "type": "rpi-sensehatsim in",
        "z": "c55415b2.5496e8",
        "name": "",
        "motion": false,
        "env": true,
        "stick": true,
        "x": 300,
        "y": 460,
        "wires": [
            [
                "6d7c65ba.16c6dc",
                "57c14882.7d86a8"
            ]
        ]
    },
    {
        "id": "6f1c8c76.43a934",
        "type": "rpi-sensehatsim out",
        "z": "c55415b2.5496e8",
        "name": "",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "b8211366.6bd2a",
        "type": "inject",
        "z": "c55415b2.5496e8",
        "name": "",
        "topic": "",
        "payload": "0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "6f1c8c76.43a934",
                "85b31eef.c5692"
            ]
        ]
    },
    {
        "id": "c1d5b53c.5dfc78",
        "type": "comment",
        "z": "c55415b2.5496e8",
        "name": "Temperature, humidity, pressure",
        "info": "",
        "x": 270,
        "y": 420,
        "wires": []
    },
    {
        "id": "356fdc59.3bc9d4",
        "type": "comment",
        "z": "c55415b2.5496e8",
        "name": "LED matrix",
        "info": "",
        "x": 220,
        "y": 40,
        "wires": []
    },
    {
        "id": "29536ff7.fc92c",
        "type": "function",
        "z": "8c6778ff.6dc668",
        "name": "get temperature",
        "func": "msg.payload = global.get('temperature')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "54e5a1f7.6478b"
            ]
        ]
    },
    {
        "id": "a730700f.bd1cb",
        "type": "inject",
        "z": "8c6778ff.6dc668",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "29536ff7.fc92c"
            ]
        ]
    },
    {
        "id": "54e5a1f7.6478b",
        "type": "debug",
        "z": "8c6778ff.6dc668",
        "name": "temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "f4eda37f.b5e76",
        "type": "debug",
        "z": "8c6778ff.6dc668",
        "name": "humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "18620f71.bc5971",
        "type": "debug",
        "z": "8c6778ff.6dc668",
        "name": "pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "ba61a618.6377f8",
        "type": "function",
        "z": "8c6778ff.6dc668",
        "name": "get humidity",
        "func": "msg.payload = global.get('humidity')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "f4eda37f.b5e76"
            ]
        ]
    },
    {
        "id": "ac9c4be1.db6c18",
        "type": "inject",
        "z": "8c6778ff.6dc668",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "ba61a618.6377f8"
            ]
        ]
    },
    {
        "id": "5ebec27.262923c",
        "type": "function",
        "z": "8c6778ff.6dc668",
        "name": "get pressure",
        "func": "msg.payload = global.get('pressure')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 360,
        "wires": [
            [
                "18620f71.bc5971"
            ]
        ]
    },
    {
        "id": "2dcc5f0a.498c8",
        "type": "inject",
        "z": "8c6778ff.6dc668",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "5ebec27.262923c"
            ]
        ]
    },
    {
        "id": "1be9b2e7.6681bd",
        "type": "debug",
        "z": "71f9ae86.d13f7",
        "name": "Environment data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2a8ccd0.cf6e1",
        "type": "ui_chart",
        "z": "71f9ae86.d13f7",
        "name": "Temperature",
        "group": "fde4866f.851ff8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ºC",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 910,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "72219577.4efe0c",
        "type": "ui_gauge",
        "z": "71f9ae86.d13f7",
        "name": "Temperature",
        "group": "fde4866f.851ff8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "96e5406d.41ade",
        "type": "change",
        "z": "71f9ae86.d13f7",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "d2a8ccd0.cf6e1",
                "72219577.4efe0c",
                "8c152e69.4e343",
                "285cfa6d.e925d6"
            ]
        ]
    },
    {
        "id": "d1a65e6a.f44c",
        "type": "switch",
        "z": "71f9ae86.d13f7",
        "name": "event types",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "joystick",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "1be9b2e7.6681bd"
            ],
            [
                "479d6202.7521bc"
            ]
        ]
    },
    {
        "id": "479d6202.7521bc",
        "type": "debug",
        "z": "71f9ae86.d13f7",
        "name": "Joystick data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "b3b6a44b.67efa8",
        "type": "ui_chart",
        "z": "71f9ae86.d13f7",
        "name": "Humidity",
        "group": "9a4e895b.be7378",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "%",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 900,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a4f538a2.181468",
        "type": "ui_gauge",
        "z": "71f9ae86.d13f7",
        "name": "Humidity",
        "group": "9a4e895b.be7378",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "9971bf1c.cadf3",
        "type": "change",
        "z": "71f9ae86.d13f7",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 380,
        "wires": [
            [
                "b3b6a44b.67efa8",
                "a4f538a2.181468",
                "6b9a6bf5.a81804",
                "2ca1b0a.dc7b95"
            ]
        ]
    },
    {
        "id": "f9b9465.2e7edb8",
        "type": "ui_chart",
        "z": "71f9ae86.d13f7",
        "name": "",
        "group": "9492d025.a8517",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "mbar",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1100",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 790,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a79b3463.3b0d98",
        "type": "ui_gauge",
        "z": "71f9ae86.d13f7",
        "name": "Pressure",
        "group": "9492d025.a8517",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "mbar",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "b94f0022.e6991",
        "type": "change",
        "z": "71f9ae86.d13f7",
        "name": "Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "f9b9465.2e7edb8",
                "a79b3463.3b0d98",
                "d3e23d20.75384",
                "664ba967.828f48"
            ]
        ]
    },
    {
        "id": "285cfa6d.e925d6",
        "type": "debug",
        "z": "71f9ae86.d13f7",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "6b9a6bf5.a81804",
        "type": "debug",
        "z": "71f9ae86.d13f7",
        "name": "humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "d3e23d20.75384",
        "type": "debug",
        "z": "71f9ae86.d13f7",
        "name": "pressure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "8c152e69.4e343",
        "type": "function",
        "z": "71f9ae86.d13f7",
        "name": "save temperature",
        "func": "global.set('temperature' , msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a30d4ac.859f9b8",
        "type": "debug",
        "z": "71f9ae86.d13f7",
        "name": "humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "2ca1b0a.dc7b95",
        "type": "function",
        "z": "71f9ae86.d13f7",
        "name": "save humidity",
        "func": "global.set('humidity' , msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 480,
        "wires": [
            [
                "a30d4ac.859f9b8"
            ]
        ]
    },
    {
        "id": "d7f5b5be.470708",
        "type": "debug",
        "z": "71f9ae86.d13f7",
        "name": "pressure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "664ba967.828f48",
        "type": "function",
        "z": "71f9ae86.d13f7",
        "name": "save pressure",
        "func": "global.set('pressure' , msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 700,
        "wires": [
            [
                "d7f5b5be.470708"
            ]
        ]
    },
    {
        "id": "6d7c65ba.16c6dc",
        "type": "link out",
        "z": "c55415b2.5496e8",
        "name": "Sensor output",
        "links": [
            "b449920e.c86a5"
        ],
        "x": 515,
        "y": 460,
        "wires": []
    },
    {
        "id": "c435b185.605db",
        "type": "comment",
        "z": "c55415b2.5496e8",
        "name": "OUTPUT- acquired data from sensors",
        "info": "",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "f6c8a814.910fd8",
        "type": "comment",
        "z": "71f9ae86.d13f7",
        "name": "INPUT-  raw data from sensors",
        "info": "",
        "x": 200,
        "y": 300,
        "wires": []
    },
    {
        "id": "b449920e.c86a5",
        "type": "link in",
        "z": "71f9ae86.d13f7",
        "name": "Raw data",
        "links": [
            "6d7c65ba.16c6dc"
        ],
        "x": 175,
        "y": 340,
        "wires": [
            [
                "9971bf1c.cadf3",
                "96e5406d.41ade",
                "b94f0022.e6991",
                "d1a65e6a.f44c"
            ]
        ]
    },
    {
        "id": "85b31eef.c5692",
        "type": "debug",
        "z": "c55415b2.5496e8",
        "name": "LED matrix input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "57c14882.7d86a8",
        "type": "debug",
        "z": "c55415b2.5496e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 520,
        "wires": []
    }
]